@media (min-width: 320px){
.col-xs-6{
width:49%;
}
}
.hidden{
display:none;
}
.colspan-center{
text-align: center;
}
.tr-selected{
    background-color:#007bff;
    color:white;
}
.food-info-col{
    color:#007bff;
}